RK_KERNEL_VERSION="5.10.160-original-baseline"
RK_KERNEL_DTS_NAME="rk3566-evb2-lp4x-v10-3566M01-HDMI-1920x1080"
RK_KERNEL_CFG="rockchip_linux_defconfig"
RK_KERNEL_CFG_FRAGMENTS="dms_no_gpu_npu.config"
RK_UBOOT_CFG="rk3568"
RK_BUILDROOT_BASE_CFG="dms_rk3566"
RK_RECOVERY_BASE_CFG=""
RK_PARAMETER="parameter-dms-buildroot-fit.txt"
RK_MISC_IMG="blank-misc.img"
RK_USE_FIT_IMG=y
RK_ROOTFS_SYSTEM_BUILDROOT=y
RK_USB_DISABLED=y
RK_WIFIBT_CHIP=""
# RK_ROOTFS_HOSTNAME_DEFAULT is not set
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="distributed-matrix"
# RK_ROOTFS_UDEV_RULES is not set
# RK_DISK_HELPERS_DEFAULT is not set
RK_DISK_HELPERS_DISABLED=y
